 *{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#000;
color:white;
overflow-x:hidden;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
}

.logo{
font-size:32px;
font-weight:800;
letter-spacing:2px;
}

.nav-links{
display:flex;
gap:40px;
list-style:none;
font-size:18px;
}

.nav-right{
display:flex;
align-items:center;
gap:25px;
font-size:18px;
}

.ai-btn{
padding:15px 30px;
border-radius:50px;
background:transparent;
border:1px solid #7d4dff;
color:white;
font-size:16px;
cursor:pointer;
}

.hero{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
min-height:85vh;
}

.left{
max-width:600px;
}

.left h4{
font-size:30px;
margin-bottom:25px;
}

.left h4 span{
color:#8b5cff;
}

.left h1{
font-size:72px;
font-weight:300;
line-height:1.15;
margin-bottom:40px;
}

.features{
list-style:none;
font-size:28px;
line-height:2;
margin-bottom:40px;
}

.features li{
color:#00d084;
}

.plan-btn{
padding:20px 70px;
border:none;
border-radius:12px;
background:#673de6;
font-size:22px;
font-weight:700;
color:white;
cursor:pointer;
}

.guarantee{
margin-top:25px;
font-size:22px;
}

.right{
position:relative;
width:700px;
height:500px;
display:flex;
justify-content:center;
align-items:center;
}

.vps-card{
width:650px;
background:#0a0912;
border:1px solid #39226f;
border-radius:24px;
padding:30px;
box-shadow:0 0 40px rgba(103,61,230,.4);
}

.server-box{
display:flex;
gap:20px;
align-items:center;
background:#111;
padding:20px;
border-radius:18px;
}

.server-icon{
width:60px;
height:60px;
background:#333;
border-radius:50%;
}

.server-box p span{
background:#00d084;
padding:5px 10px;
border-radius:8px;
font-size:12px;
margin-left:10px;
}

.icons-row{
margin-top:30px;
padding:25px;
background:#111;
border-radius:18px;
font-size:40px;
display:flex;
justify-content:space-around;
}

.stats{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:30px;
}

.stat-box{
background:#111;
padding:25px;
border-radius:16px;
}

.stat-box h5{
color:#888;
margin-bottom:10px;
}

.stat-box h2{
font-size:40px;
}

.amd-box{
position:absolute;
top:-30px;
right:50px;
width:150px;
height:120px;
background:#0f0f1f;
border:1px solid #673de6;
border-radius:18px;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
font-size:30px;
font-weight:800;
box-shadow:0 0 30px rgba(103,61,230,.7);
}

.trustpilot{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
padding:40px;
font-size:22px;
}

.stars{
color:#00d084;
font-size:30px;
}

@media(max-width:1200px){

.hero{
flex-direction:column;
gap:80px;
padding-top:50px;
}

.left h1{
font-size:55px;
}

.right{
width:100%;
}

.vps-card{
width:100%;
}

}